<!DOCTYPE html>
<html>
	<link rel="stylesheet" href="trial/css/style.css">
<body>

	<h3>Customer Details</h3>
	

  <formstyle={{ flexdirection:"row" }}>
	<label>Enter User name</label><br>
	<input type="text" name="firstname"><br>
	
	
	
	
	<label>Email Id *</label><br>
	<input type="text" name="Email Id *"><br>
	
	
	<label>Customer Address  *
</label><br>
	<input type="text" name="Customer Address  *
*"><br>
	
		<label>State   *
</label><br>
	<input type="text" name="State   *
*"><br>
	
	
	
	
		<label>distric *
</label><br>
	<input type="text" name="Distric  *
*"><br>
	
	
	
	
	
	
		<label>City  *
</label><br>
	<input type="text" name="City *
*"><br>











	<label>pin Code  *
</label><br>
	<input type="text" name="pin Code  *
*"><br>




	<label>State   *
</label><br>
	<input type="text" name="State  *
*"><br>



	
	<label>Vehicle No:   *
</label><br>
	<input type="text" name="State  *
*"><br>

	
	<label>Make:   *
</label><br>
	<input type="text" name="Make  *
*"><br>
	
	
	
	<label>model:   *
</label><br>
	<input type="text" name="model  *
*"><br>
	
	
	
	
	<label>odometer:   *
</label><br>
	<input type="text" name="OdoMeter  *
*"><br>
	
	
	
	
<a href="https://himanshu8787.github.io/Axisvation/trial/templates/tyredetails.html">
<br><input type="submit" value="submit"></a>
<a href="https://himanshu8787.github.io/Axisvation/trial/templates/camera.html">
<br><input type="submit" value="previous"></a>
   </form>
 </body>
 </html>