<!DOCTYPE html>
<html>
	<link rel="stylesheet" href="trial/css/style.css">
<body>
	<h3>New Tyre Details</h3>
  <formstyle={{ flexdirection:"row" }}>
	<label>Tyre Make  *</label><br>
	<input type="text" name="Tyre Make  *"><br>

	
	
	
	<label>Tyre Model  *
 </label><br>
	<input type="text" name="ETyre Model*
"><br>
	
	
	<label>Tyre Size 
</label><br>
	<input type="text" name="Tyre Size   *
*"><br>
	
		<label>Tyre Pattern
</label><br>
	<input type="text" name="Tyre Pattern
*"><br>
	
	
	
	
		<label>
Tyre Serial *
</label><br>
	<input type="text" name="
Tyre Pattern  *
Tyre Serial *
*"><br>
	
	
	
	
	
	
		<label>Tyre Fitting  *
</label><br>
	<input type="text" name="Tyre Fitting  *
*"><br>











	<label>No Of Tyre *
</label><br>
	<input type="text" name="pin Code  *
*"><br>No Of Tyre *




	<label>Remark  *
</label><br>
	<input type="text" name="Remark  *
*"><br>



	
	<label>Catalogue  *
</label><br>
	<input type="text" name="Catalogue 
*"><br>

	
	<label>Tyre Plant  *
:   *
</label><br>
	<input type="text" name="Tyre Plant  *
  *
*"><br>
	
	
	
	<label>TT/TL *:   *
</label><br>
	<input type="text" name="TT/TL *  *
*"><br>
	
	
	
	
	<label>PR/PL  :   *
</label><br>
	<input type="text" name="PR/PL    *
*"><br>
	
	
	
	
    <a href="trial/templates/tyredetails.html">
	<br><button type="button">submit</button>
	</a>
	<br><input type="submit" value="previous">
   </form>
 </body> 
</html>